.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b818d;
}

#logo {
  margin: 0;
}

#user-link {
  margin-left: auto;
}

#user-btn {
  background-color: #1b818d;
  border: none;
  outline: none;
}

#menu-btn {
  background-color: #1b818d;
  border: none;
  outline: none;
  margin-left: 20px;
  margin-right: 15px;
}



#heading {
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
  letter-spacing: 5px;
}



form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 60px 10px 10px 10px;
}

#input-formula {
  font-size: 40px;
  width: 1160px;
  height: 80px;
  margin-right: 15px;
}

#calculate-btn {
  font-size: 35px;
  width: 150px;
  height: 80px;
}



.result-area {
  background-color: rgb(241, 255, 255);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 150px;
  margin: 100px 50px 120px 50px;
}

#result {
  font-size: 35px;
  color: rgb(81, 81, 81);
  font-weight: lighter;
  text-align: center;
}

#operators {
  border-bottom: 1px solid rgb(205, 205, 205);
  margin-bottom: 120px;
}

.operator {
  font-size: 20px;
  font-weight: bold;
}




.footer {
  font-size: 5px;
  font-family: "リュウミン L-KL";
  background-color: rgb(220, 220, 220);
  margin-top: 50px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.footer-content {
  font-size: 15px;
}




.input-form {
  display: flex;
  flex-direction: row;
  margin: 60px 10px 10px 10px;
}

#label {
  font-size: 30px;
}

#user-name {
  font-size: 25px;
  width: 800px;
  height: 50px;
  margin-right: 10px;
  margin-left: 30px;
}

#user-name-submit {
  width: 80px;
  height: 51px;
}

.message {
  font-size: 20px;
  text-align: center;
  margin-top: 100px;
}



.footer1 {
  font-size: 5px;
  width: 100%;
  font-family: "リュウミン L-KL";
  background-color: rgb(220, 220, 220);
  padding: 50px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}