body{
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}


/* header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b818d;
}

#top-logo {
  width: max(22vw, 200px);
}

.logo {
  margin: 0;
}

.user-icon {
  width: max(3.66vw, 20px);
  height: max(3.66vw, 20px);
}

.menu-icon {
  width: max(3.66vw, 20px);
  height: max(3.66vw, 20px);
}

#user-btn {
  background-color: #1b818d;
  border: none;
  outline: none;
  margin-left: auto;
}

#menu-btn {
  background-color: #1b818d;
  border: none;
  outline: none;
  margin-left: max(1.464vw, 10px);
  margin-right: 15px;
}


/* main-content */
.content {
  display: none;
}

.main-content {
  display: block;
}

.heading {
  font-size: max(16px, 3vw);
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
  letter-spacing: min(5px, 0.366vw);
}



#formula-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: max(10px, 4.4vw) 10px 10px 10px;
}

#input-formula {
  font-size: 3vw;
  width: 82%;
  height: 5.8vw;
  margin-right: 15px;
  box-sizing: border-box;
}

#calculate-btn {
  font-size: 2.56vw;
  width: 11%;
  height: 5.8vw;
}



.result-area {
  background-color: rgb(241, 255, 255);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: max(8.8vw, 10px);
  margin: max(7.32vw, 10px) 50px max(8.8vw, 10px) 50px;
}

#result {
  font-size: max(2.56vw, 28px);
  color: rgb(81, 81, 81);
  font-weight: lighter;
  text-align: center;
}

.operators {
  border-bottom: 1px solid rgb(205, 205, 205);
  margin-bottom: max(8.8vw, 10px);
  font-size: max(1.4vw, 12px);
}

.operator {
  font-size: max(1.46vw, 15px);
  font-weight: bold;
}




/* user-content */
.user-form {
  display: flex;
  flex-direction: row;
  margin: 60px 10px 10px 10px;
}

#label {
  font-size: max(2.2vw, 20px);
}

#user-name {
  font-size: 1.83vw;
  width: 58.57%;
  height: max(3.66vw, 30px);
  margin-right: 10px;
  margin-left: 30px;
}

#user-name-submit {
  font-size: 1.5vw;
  width: max(5.86%, 56px);
  height: max(3.73vw, 30px);
}

.message {
  font-size: max(1.464vw, 15px);
  text-align: center;
  margin-top: 110px;
}

@media (max-width: 720px) {
  .user-form {
    display: block;
  }

  #user-name {
    font-size: 15px;
    width: 80%;
    height: 40px;
    margin-right: 0;
    margin-left: 3px;
    margin-top: 10px;
  }

  #user-name-submit {
    font-size: 15px;
    margin-top: 12px;
    width: 65px;
    height: 45px;
  }
}

/* contact-content */
.contact-table {
  font-size: max(1.4vw, 12px);
  margin-top: 100px;
  border-bottom: rgb(193, 191, 191);
}




/* explanation */
.explanation {
  font-size: max(1.464vw, 15px);
  text-align: center;
  margin: 50px 20px 100px 20px;
}




/* footer */
.footer {
  font-size: 5px;
  font-family: "リュウミン L-KL";
  background-color: rgb(220, 220, 220);
  margin-top: max(3.66vw, 12px);
  padding: 3.66vw;
  display: flex;
  justify-content: space-between;
}

#bottom-logo {
  width: max(14.64vw, 90px);
}

.footer-content {
  font-size: max(1.1vw, 7px);
}